body {
  margin: 0px !important;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,Geneva,sans-serif;
  font-size: 13px;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.muted {
  color: #989fa9;
}
